<!DOCTYPE html>
<html>

<head>
    <title>HotBet777</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; utf-8;" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="imagetoolbar" content="false" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- App functionality -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="BetApp">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Icons -->
    <link rel="icon" href="images/favicon.png?2" type="image/x-icon" />
    <link rel="shortcut" sizes="196x196" href="images/appIcon256x256.png">
    <link rel="apple-touch-icon" href="images/appIcon57x57.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="images/appIcon256x256.png" type="image/x-icon" />
    <link rel="apple-touch-startup-image" href="images/splash800x600.png" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/style.css?5" />
    <link rel="stylesheet" href="css/ng-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/data-table.css">
    <link rel="stylesheet" href="css/addtohomescreen.css">
    <script src="js/jquery-min.js" type="text/javascript"></script>
	<script src="js/js.cookie.js"></script>
    <link rel="stylesheet" href="css/carousel.css" />
    <script src="js/sly.min.js"></script>
    <link rel="stylesheet" href="css/jq-ui.css">
    <script src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/addtohomescreen.js"></script>
    <script type="text/javascript" src="config/main.js"></script>
	
    <script type="text/javascript" src="js/arrow-slide.js"></script>
    <script type="text/javascript" src="js/SHA256.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/moment-timezone-with-data.js"></script>
    <script src="js/angular-min.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-aria.js"></script>
    <script src="js/angular-messages.js"></script>
    <script src="js/angular-filter.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js"></script>
    <script type="text/javascript" src="js/angular-carousel.min.js"></script>
    <script type="text/javascript" src="js/angular-resource.js"></script>
    <script type="text/javascript" src="js/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/app/service/ngdialog.module.js"></script>
    <script src="js/json2.js" type="text/javascript"></script>
    <!-- Angular Material Library -->
    <script src="js/angular-material.js"></script>
    <script type="text/javascript" src="js/md-data-table.js"></script>
    <script type="text/javascript" src="js/app/service/ui-router.js"></script>
    <script type="text/javascript" src="js/app/ngTranslate.js"></script>
    <script type="text/javascript" src="js/app/angular-translate-loader-static-files.min.js"></script>
	<script type="text/javascript" src="js/app/angular-translate-loader-url.min.js"></script>

    <script type="text/javascript" src="js/app/service/localstorage.service.js"></script>
    <script type="text/javascript" src="js/app/service/ng-lazy-render.js"></script>
    <script type="text/javascript" src="js/app/app.js?b=2"></script>
    <script type="text/javascript" src="js/app/odd.filter.js"></script>
    <script type="text/javascript" src="js/app/date.filter.js"></script>
    <script type="text/javascript" src="js/app/currency.filter.js"></script>
    <script type="text/javascript" src="js/app/htmlSafe.filter.js"></script>
    <script type="text/javascript" src="js/app/routechange.config.js"></script>
    <script type="text/javascript" src="js/app/service/translate.conf.js"></script>
    <script type="text/javascript" src="js/app/translations.js?1"></script>
    <script type="text/javascript" src="js/app/config.route.js?5"></script>
	<script type="text/javascript" src="js/app/theming.config.js"></script>
    <script type="text/javascript" src="js/infinite-scroll.js"></script>
    <script type="text/javascript" src="js/app/cors.config.js"></script>
    <script type="text/javascript" src="js/ng-idle/angular-idle.js"></script>
    <script type="text/javascript" src="js/app/service/msgdialog.service.js"></script>
    <script type="text/javascript" src="js/app/service/betslip.service.js"></script>
    <script type="text/javascript" src="js/app/service/signalr.service.js"></script>
    <script type="text/javascript" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>
	<script type="text/javascript" src="js/app/service/balancechange.service.js"></script>
    <script type="text/javascript" src="js/app/directives/whenscrolled.directive.js"></script>
    <script type="text/javascript" src="js/app/directives/clickoutside.directive.js"></script>
    <script type="text/javascript" src="js/app/directives/lazyscriptload.directive.js"></script>
    <script type="text/javascript" src="js/app/directives/draggable.directive.js"></script>
    <script type="text/javascript" src="js/app/directives/clickpaymentinfo.directive.js"></script>
    
    <script>jQuery.support.cors = true;</script>
    <script src="js/signalr/jquery.signalR-2.2.0.min.js"></script>
    <script src="https://demo.hotbet777.com/signalr/hubs"></script>
    <script>
        $.connection.hub.url = "https://demo.hotbet777.com/signalr";
        moment.locale(defaultLang);
        moment.tz.setDefault(defaultZone);
    </script>
    <!-- HOME PAGE -->
    <script type="text/javascript" src="js/app/controller/index.controller.js?b=2"></script>
    <script type="text/javascript" src="js/app/controller/register.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/recoverpw.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/pwrecoverCtrl.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/navbar.controller.js?1"></script>
    <script type="text/javascript" src="js/app/controller/login.controller.js"></script>
    <script type="text/javascript" src="js/app/service/authbase.service.js"></script>
    <script type="text/javascript" src="js/app/service/login.service.js"></script>
    <script type="text/javascript" src="js/app/controller/casino.controller.js?2"></script>
    <script type="text/javascript" src="js/app/controller/bottommenu.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/account.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/transactions.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/accountdata.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/changepw.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/payin.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/payout.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/cep.payin.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/cep.payout.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/personallimit.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/infopage.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/bonus.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/mail.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/support.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/idle.controller.js?3"></script>
    <script type="text/javascript" src="js/app/controller/realityCheck.controller.js"></script>
    <script type="text/javascript" src="js/app/controller/banktransfer.controller.js"></script>
	
	<script type="text/javascript" src="js/app/controller/hbsport.controller.js?2"></script>

    <script type="text/javascript" src="js/fancybox/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css?v=2.1.5" media="screen" />
    <style>
        .md-virtual-repeat-container.md-autocomplete-suggestions-container {
            z-index: 999999999999999999!important;
        }
    </style>
</head>

    <body ng-app="betApp" ng-cloak ng-class="{true: 'bluebg', false: 'normal'}[inLogin]">
        <div id="wrap">
            <div>
                <div layout="row" layout-sm="column" layout-align="space-around" class="page-loading hidden">
                    <md-progress-circular md-mode="indeterminate" class="md-hue-5"></md-progress-circular>
                </div>
                <div id="appContainer" class="menu-normal">
                    <div ng-hide="stateName == 'index'" ng-include src="'pages/navBarv2.html?4'"></div>
                    
                    
                    <div class="contentwrap">
                        <ui-view></ui-view>
                    </div>
                    

                    <div ng-hide="stateName == ''">
                        <ng-include src="'pages/footer.html?3'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="idleCtrl"> 
            <div id="idleFrame"  ng-if="userIsIdle">
                <h1 style="font-family: Arial, Helvetica, sans-serif">{{'idle_youHaveBeenAway'|translate}}</h1> 
                <h2 style="font-family: Arial, Helvetica, sans-serif">{{'idle_choiceText'|translate}}</h2>
                <button ng-click="continueBrowsing()" style="font-family: Arial, Helvetica, sans-serif">{{'realityCheck_continueButton'|translate}}</button>
                <button ng-click="logoutUser()">{{'realityCheck_logoutButton'|translate}}</button>
            </div> 
        </div>
        <div ng-controller="realityCheckCtrl">
            <div id="realityCheckDiv" ng-if="isPopupVisible">
                <br /><span id="realityOnlineFor">{{ 'realityCheck_youAreOnlineFor' | translate:'{ time: realityData[0].mySessionTime }' }}</span><br />
                <div id="realityCheckDivInner">
                    <br />{{'realityCheck_lostTickets'|translate}} : <span id="myInfoTicketLoss">{{realityData[0].myInfoTicketLoss}}</span>
                    <br />{{'realityCheck_wonTickets'|translate}} : <span id="myInfoTicketWin">{{realityData[0].myInfoTicketWin}}</span>
                    <br /><br />{{'realityCheck_openTickets'|translate}} : <span id="myInfoTicketOpen">{{realityData[0].myInfoTicketOpen}}</span>
                    <br />{{'realityCheck_casinoWin'|translate}} : <span id="myInfoCasinoWin">{{realityData[0].myInfoCasinoWin}}</span>
                    <br />{{'realityCheck_casinoLoss'|translate}} : <span id="myInfoCasinoLoss">{{realityData[0].myInfoCasinoLoss}} </span> 
                </div>
                <br /><br />{{'realityCheck_continueOrLogout'|translate}}
                <br/>
                <button ng-click="continueBrowsing()" style="font-family: Arial, Helvetica, sans-serif">{{'realityCheck_continueButton'|translate}}</button>
                <button ng-click="doLogout()" style="font-family: Arial, Helvetica, sans-serif">{{'realityCheck_logoutButton'|translate}}</button>
            </div>
        </div>
    </body>
    <!--iPhone prevent zoom workaround-->
    <script type="text/javascript">
        
        function showElementInPopUp(elementId) {
            var fancyboxAnchorElementId = "fancyboxTriggerFor_" + elementId;
            if ($("#" + fancyboxAnchorElementId).length == 0) {
                $("body").append("<a id='" + fancyboxAnchorElementId + "' href='#" + elementId + "' style='display:none;'></a>");
                $("#" + fancyboxAnchorElementId).fancybox({
                    closeBtn: false,
                    autoHeight: true,
                    autoWidth: true,
                    modal: true,
                    autoCenter: true
                });
            }

            $("#" + fancyboxAnchorElementId).click();
        }
        function showUserIdleFrame() { 
            showElementInPopUp('idleFrame');  
        }
        function showRealityCheckFrame() {
            showElementInPopUp('realityCheckDiv');
        } 
    </script>
<script>

    if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
        var viewportmeta = document.querySelector('meta[name="viewport"]');
        if (viewportmeta) {
            viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
            document.body.addEventListener('gesturestart', function () {
                viewportmeta.content = 'width=device-width, minimum-scale=0.25, maximum-scale=1.6';
            }, false);
        }
    }
    else {
        var viewportmeta = document.querySelector('meta[name="viewport"]');
        if (viewportmeta) {
            viewportmeta.content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0';
        }
    }

</script>

    <style>
        .highlighted {
            border: 1px solid red;   
        }
    .fancybox-wrap {
        top: 95px !important;
        /*width: 90%!important;
        left: 5%!important;*/
        z-index: 999999;
    }

    .fancybox-inner {
        /*width: 100%!important;*/
        /*height: 520px!important;*/
    }
    </style>
<script type="text/javascript">
    function showStatDialog(url) {
        $.fancybox.open({
            href: url,
            type: 'iframe',
            'width': '90%',
            'height': '700px',
            'autoScale': true
        });
    }
</script>

</html>
