<!DOCTYPE html>
<html>
<head>
  <title>HotBet777</title>
  <meta charset="utf-8"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' >
  <meta http-equiv="imagetoolbar" content="false" />

    <!-- App functionality -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="BetApp">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Icons -->
    <link rel="icon" href="images/favicon.png?2" type="image/x-icon" />
    <link rel="shortcut" sizes="196x196" href="images/appIcon256x256.png">
    <link rel="apple-touch-icon" href="images/appIcon57x57.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="images/appIcon256x256.png" type="image/x-icon" />
    <link rel="apple-touch-startup-image" href="images/splash800x600.png" type="image/x-icon" />

  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/style.css?2" />
    <link rel="stylesheet" href="css/flags.css" />
  <link rel="stylesheet" href="css/ng-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/data-table.css">
    <link rel="stylesheet" href="css/addtohomescreen.css">
   

  <script src="js/jquery-min.js" type="text/javascript"></script>
  

    <link rel="stylesheet" href="css/carousel.css">
    <script src="js/sly.min.js"></script>

  <link rel="stylesheet" href="css/jq-ui.css">
  <script src="js/jquery-ui.js"></script>
    <script type="text/javascript" src="js/addtohomescreen.js"></script>
  <script type="text/javascript" src="config/main.js?v=3"></script>
  <script type="text/javascript" src="js/SHA256.js"></script>   
  <script type="text/javascript" src="js/moment.js"></script> 
    <script type="text/javascript" src="js/moment-timezone-with-data.js"></script> 
  <script src="js/angular-min.js"></script>
  <script src="js/angular-animate.js"></script>
  <script src="js/angular-aria.js"></script>
  <script src="js/angular-messages.js"></script>
  <script src="js/angular-filter.js"></script>

  <!-- Angular Material Library -->
  <script src="js/angular-material.js"></script>
  <script type="text/javascript" src="js/md-data-table.js"></script>
  <script type="text/javascript" src="js/app/service/ui-router.js"></script>
  <script type="text/javascript" src="js/app/ngTranslate.js"></script>
  <script type="text/javascript" src="js/app/angular-translate-loader-url.min.js"></script>
  <script type="text/javascript" src="js/app/service/localstorage.service.js"></script>
  <script type="text/javascript" src="js/app/app.js?2"></script>
  <script type="text/javascript" src="js/app/odd.filter.js?2"></script>
  <script type="text/javascript" src="js/app/date.filter.js?2"></script>
  <script type="text/javascript" src="js/app/routechange.config.js?2"></script>
  <script type="text/javascript" src="js/app/service/translate.conf.js?3"></script>
  

  <script type="text/javascript" src="js/app/config.route.js?2"></script>
  <script type="text/javascript" src="js/infinite-scroll.js?2"></script>
  <script type="text/javascript" src="js/app/cors.config.js?2"></script>
    <script type="text/javascript" src="js/app/service/msgdialog.service.js?2"></script>
  <script type="text/javascript" src="js/app/service/betslip.service.js?2"></script>
  <script type="text/javascript" src="js/app/service/signalr.service.js?2"></script>
  <script type="text/javascript" src="js/app/service/balancechange.service.js?2"></script>

    <script type="text/javascript" src="js/app/directives/whenscrolled.directive.js?2"></script>

    <script type="text/javascript" src="js/app/directives/leftwidth.directive.js"></script>
  <script>jQuery.support.cors = true;</script>
  <script src="js/signalr/jquery.signalR-2.2.0.min.js"></script>
    <script src="https://demo.hotbet777.com/signalr/hubs"></script>
  <script>
  $.connection.hub.url = "https://demo.hotbet777.com/signalr";
  moment.locale(defaultLang);
  moment.tz.setDefault(defaultZone);
  </script>
  
  <!-- HOME PAGE -->

  <script type="text/javascript" src="js/app/controller/index.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/register.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/recoverpw.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/navbar.controller.js?2"></script>
    <script type="text/javascript" src="js/app/controller/navbarInner.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/login.controller.js?2"></script>
  <script type="text/javascript" src="js/app/service/authbase.service.js?2"></script>
  <script type="text/javascript" src="js/app/service/login.service.js?2"></script>
  <script type="text/javascript" src="js/app/controller/hbsport.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/hbbetslip.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/bottommenu.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/account.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/transactions.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/accountdata.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/changepw.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/payin.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/payout.controller.js?2"></script>
    <script type="text/javascript" src="js/app/controller/cep.payin.controller.js?2"></script>
    <script type="text/javascript" src="js/app/controller/cep.payout.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/personallimit.controller.js?2"></script>
  
  <script type="text/javascript" src="js/app/controller/homepage.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/infopage.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/bonus.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/search.controller.js?2"></script>
  <script type="text/javascript" src="js/app/controller/casino.controller.js?4"></script>

    
</head>
<body ng-app="betApp" ng-cloak ng-class="{true: 'bluebg', false: 'normal'}[inLogin]">
    <div id="splash-screen">
        <div class="logo">
            <img src="images/logo_splash.png">
        </div>
    </div>

    <div id="wrap">
        <div>
            <div layout="row" layout-sm="column" layout-align="space-around" class="page-loading hidden">
                <md-progress-circular md-mode="indeterminate" class="md-hue-5"></md-progress-circular>
            </div>
            <div id="appMenu" class="menu-hidden" ng-include src="'pages/homepage.html'"></div>
            <div id="appContainer" class="menu-normal">
                <div ng-hide="stateName == 'index'" ng-include src="'pages/navbar.html?1'"></div>
                <div ng-if="!searchMode">
                    <ui-view></ui-view>
                </div>
                <div ng-if="searchMode">
                    <ng-include src="'pages/search.html'"></ng-include>
                </div>
                <div class="seperator" ng-if="stateName != 'betslip'"></div>
                <div class="seperator-bs" ng-if="stateName == 'betslip'"></div>
                <div ng-hide="stateName == 'index'"><ng-include src="'pages/bottom-menu.html?1'"></ng-include></div>
            </div>
            
        </div>

    </div>

    
    
</body>

<!--iPhone prevent zoom workaround-->
<script>

    if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
        var viewportmeta = document.querySelector('meta[name="viewport"]');
        if (viewportmeta) {
            viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
            document.body.addEventListener('gesturestart', function () {
                viewportmeta.content = 'width=device-width, minimum-scale=0.25, maximum-scale=1.6';
            }, false);
        }
    }
    else {
        var viewportmeta = document.querySelector('meta[name="viewport"]');
        if (viewportmeta) {
            viewportmeta.content = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0';
        }
    }

</script>

</html>
